<%# Confirm Modal %>
<div id="confirmModal" class="modal confirm-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="font-kr-medium">알림</h2>
      <button class="close" aria-label="Close modal">&times;</button>
    </div>
    
    <div class="modal-body">
      <p class="font-kr">로그아웃을 하시겠습니까?</p>
    </div>
    
    <div class="modal-footer">
      <button class="btn btn-cancel font-kr">아니오</button>
      <button class="btn btn-confirm font-kr">예</button>
    </div>
  </div>
</div>