<footer class="site-footer">
  <div class="footer-nav">
    <a href="/usage-guide">이용약관</a>
    <a href="/privacy">개인이용약관</a>
    <a href="/youth-protection">게임청보물등급위원회</a>
    <a href="/youth-policy">청소년보호정책</a>
  </div>

  <div class="company-info">
    <p>상호: 홀덤소프트 | 대표이사: 홍길동 | E메일: holdem@gmail.com</p>
    <p>주소: 서울특별시 종로구 종로대로 97 A동 19호</p>
    <p>사업자등록번호: 111-22-3333 | 통신판매업 신고번호: 제2024-서울종로-1234호</p>
    <p class="copyright">Copyright©홀덤소프트 All Rights Reserved.</p>
  </div>
</footer>
