<section class="game-guide">
  <div class="guide-card membership">
    <h3 class="font-kr-medium">1일 손실 한도 설정안내</h3>
    <p class="font-kr">10만원부터 50만원 사이에서 1일 손실한도를 설정하셔야 하며, 설정한도는 초과할 경우 6시간부터 24시간 사이도 이용이 제한됩니다.</p>
    <button class="btn btn-guide font-kr">1일 손실 한도 설정 바로가기</button>
  </div>
  
  <div class="guide-card safety">
    <h3 class="font-kr-medium">사행성 근절 안내</h3>
    <p class="font-kr">사행행위 척결 시, 계정이 압수 처리 되며 게임머니가 삭제될 수 있습니다. 게임법 무는 엄법에 따라 형사 처벌 대상이 될 수 도 있습니다.</p>
  </div>
</section>