<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%- title || '아바타 상점' %></title>
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/modal.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/modal.css">
<link rel="stylesheet" href="/css/profile-modal.css">
<link rel="stylesheet" href="/css/cash-charge-modal.css">
<link rel="stylesheet" href="/css/components/game-guide.css">
<link rel="stylesheet" href="/css/components/buttons.css">