<!-- views/partials/login-form.ejs -->
<div class="login-form-container">
    <form class="login-form" action="/login" method="POST">
        <input class="form-input" type="text" name="username" placeholder="Username" />
        <input class="form-input" type="password" name="password" placeholder="Password" />
        <button class="btn btn-primary" type="submit">Login</button>
        <div class="form-footer">
            <a href="/signup">회원가입</a>
        </div>
    </form>
</div>
