<section class="notice-board">
  <div class="section-header">
    <h3 class="font-kr-medium">공지사항</h3>
    <%- include('components/view-more-link', { href: '/support' }) %>
  </div>
  
  <ul class="notice-list">
    <li>
      <a href="#" class="font-kr">홀덤 입장금액 및 게임룸 안내</a>
      <span class="date">2024.07.03</span>
    </li>
    <li>
      <a href="#" class="font-kr">바둑이 입장금액 및 게임룸 안내</a>
      <span class="date">2024.07.03</span>
    </li>
  </ul>
</section>