<%# Profile Modal %>
<div id="profileModal" class="modal">
  <div class="modal-content profile-content">
    <div class="modal-header">
      <h2 class="font-kr-medium">내 정보</h2>
      <button class="close" aria-label="Close modal">&times;</button>
    </div>

  </div>
</div>
