<section class="service-icons">
  <div class="icon-grid">
    <a href="#" class="icon-item">
<!--      <img src="/images/icons/free-charge.svg" alt="무료충전">-->
      <span>무료충전</span>
    </a>
    <a href="#" class="icon-item">
<!--      <img src="/images/icons/coupon.svg" alt="쿠폰입력">-->
      <span>쿠폰입력</span>
    </a>
    <!-- More service icons... -->
  </div>
</section>
