<section class="mypage-section">
  <div class="section-header">
    <h2 class="font-kr-medium">캐시 충전 내역</h2>
    <%- include('../components/view-more-link', { 
      href: '#', 
      text: '전체보기'
    }) %>
  </div>
  <div class="section-content empty-content">
    <p>캐시 충전 내역이 없습니다.</p>
  </div>
</section>

<%- include('cash-history-modal') %>