<div class="membership-terms">
  <h3>회원권 이용안내</h3>
  <ul class="terms-list">
    <li>회원권 등록은 등록신청일을 기준으로 1개월간 유효합니다.</li>
    <li>회원권 등록 후 제공되는 서비스를 사용한 이후에는 결제취소가 되지 않습니다.</li>
    <li>회원권 변경 시 변경일을 기준으로 1개월간 유효합니다.</li>
    <li>회원권을 등록한 날짜로부터 1개월이 지난 후 추가 등록이 이루어 지지 않았을 경우, 회원권의 혜택이 적용되지 않으며, 일반 게임 유저로 등급이 변경됩니다.</li>
    <li>회원권 상시 혜택은 공지 후 변경될 수 있습니다.</li>
  </ul>
</div>