<%# Winning Banner with Marquee Effect %>
<div class="winning-banner">
  <div class="banner-content">
    <div class="winner">
      <span class="username">아낙수나문</span>
      <span class="bonus">프리게임</span>
      <span class="amount">3,000,000원</span>
      <span>획득하였습니다.</span>
    </div>
    <div class="winner">
      <span class="username">cjdkocos님</span>
      <span>에서</span>
      <span class="bonus">리틀킹</span>
      <span class="bonus">프리게임</span>
      <span class="amount">1,950,000원</span>
      <span>획득하였습니다.</span>
    </div>
  </div>
</div>
